In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ExportedRecords.csv', names=['Appointment_ID', 'Appointment_Start_time', 'Appointment_End_time', 'Provider_ID', 'Customer_ID'])

In [96]:
df.head()

,Appointment_ID,Appointment_Start_time,Appointment_End_time,Provider_ID,Customer_ID
0,1,2014-01-01 15:00:00.000,2014-01-02 03:00:00.000,77.0,91.0
1,2,2014-01-01 15:00:00.000,2014-01-01 23:00:00.000,76.0,235.0
2,3,2014-01-01 16:00:00.000,2014-01-02 03:45:00.000,75.0,120.0
3,4,2014-01-01 17:00:00.000,2014-01-01 22:00:00.000,104.0,80.0
4,5,2014-01-01 15:00:00.000,2014-01-01 22:00:00.000,65.0,106.0

In [105]:
df.tail()

,Appointment_ID,Appointment_Start_time,Appointment_End_time,Provider_ID,Customer_ID,Appointment_Length,Only_Start_date
14080594,14080595,2017-02-09 19:00:00,2017-02-10 01:00:00,144008.0,215240.0,06:00:00,2017-02-09
14080595,14080596,2017-02-08 19:00:00,2017-02-08 20:00:00,127344.0,158671.0,01:00:00,2017-02-08
14080596,14080597,2017-02-09 23:00:00,2017-02-10 00:00:00,118409.0,219549.0,01:00:00,2017-02-09
14080597,14080598,2017-02-10 01:00:00,2017-02-10 13:00:00,127341.0,186983.0,12:00:00,2017-02-10
14080598,14080599,2017-02-09 20:00:00,2017-02-10 04:00:00,175864.0,235603.0,08:00:00,2017-02-09

In [98]:
from datetime import datetime as dt

f = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f')
df.Appointment_Start_time = df.Appointment_Start_time.apply(f)
df.Appointment_End_time = df.Appointment_End_time.apply(f)

In [99]:
df['Appointment_Length'] = df.Appointment_End_time - df.Appointment_Start_time

In [100]:
df.head()

,Appointment_ID,Appointment_Start_time,Appointment_End_time,Provider_ID,Customer_ID,Appointment_Length
0,1,2014-01-01 15:00:00,2014-01-02 03:00:00,77.0,91.0,12:00:00
1,2,2014-01-01 15:00:00,2014-01-01 23:00:00,76.0,235.0,08:00:00
2,3,2014-01-01 16:00:00,2014-01-02 03:45:00,75.0,120.0,11:45:00
3,4,2014-01-01 17:00:00,2014-01-01 22:00:00,104.0,80.0,05:00:00
4,5,2014-01-01 15:00:00,2014-01-01 22:00:00,65.0,106.0,07:00:00

In [109]:
df["Appointment_Length"].mean()

#The Average appointment time is about 4.5 hours

Timedelta('0 days 04:37:54.981054')

In [110]:
print(df.index)

RangeIndex(start=0, stop=14080599, step=1)

In [111]:
df['Only_Start_date'] = df['Appointment_Start_time'].dt.date

In [112]:
df.head()

,Appointment_ID,Appointment_Start_time,Appointment_End_time,Provider_ID,Customer_ID,Appointment_Length,Only_Start_date
0,1,2014-01-01 15:00:00,2014-01-02 03:00:00,77.0,91.0,12:00:00,2014-01-01
1,2,2014-01-01 15:00:00,2014-01-01 23:00:00,76.0,235.0,08:00:00,2014-01-01
2,3,2014-01-01 16:00:00,2014-01-02 03:45:00,75.0,120.0,11:45:00,2014-01-01
3,4,2014-01-01 17:00:00,2014-01-01 22:00:00,104.0,80.0,05:00:00,2014-01-01
4,5,2014-01-01 15:00:00,2014-01-01 22:00:00,65.0,106.0,07:00:00,2014-01-01

In [129]:
count=df['Only_Start_date'].value_counts()

In [130]:
count.head()

2016-09-30    19514
2016-11-18    19509
2016-09-23    19507
2016-10-28    19501
2016-09-16    19500
Name: Only_Start_date, dtype: int64